aside{
    @include estilos_aside;
    font-size: 15px;
    fieldset{
        padding-bottom: 18px;
        border: none;
        legend{
            text-align: center;
            font-size: 18px;
            padding-top: 15px;
        }
        .formulario {
            margin: 18px 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: start;
            label {
                grid-column: 1/5;
                margin-bottom: 19px;
            }
            input{
                grid-column: 1/5;
                width:80%;
            }
            #input_codigo{
                width: 60%;
                grid-column: 1/3;
            }
            #boton_validacion{
                grid-column: 3/5;
                width: 60px;
                margin: auto ;
            }
            #input_nombre{
                width: 80%;
            }
            #input_abreviatura{
                width: 40%;
            }
            #input_categorias{
                width: 50%;
            }
            #input_RUC{
                width: 40%;
            }
            #input_precio{
                width: 40%;
            }
            #label_color{
                margin: auto 0;
                grid-column: 1/3;
            }
            #input_color{
                grid-column: 3/5;
                width: 20px;
                margin-left: 60px;
            }
            .radio_de_estados{
                width: 15px;
            }
            .estados{
                font-size: 12px;
                margin: 0 0 4px 0;
            }
            #checkbox_impuesto{
                grid-column: 4/5;
                
                margin-left:0px ;
            }
            #label_impuesto{
                grid-column: 1/4;
                margin: auto 0;
            }
        }     
        #div_fecha{
            margin: 18px 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            #label_fecha{
                grid-column: 1/3;
                margin: 18px 0;
            }
            #input_fecha{
                grid-column: 3/4;
                width: 123px;
                margin:auto 0;
            }
            #logo_fecha{
                grid-column: 4/5;
                height: 20px; 
                width: 20px;
                margin:auto 5px;
            }
        }
        #div_estado{
            display: grid;
            margin: 18px 0;
            grid-template-columns: repeat(7,1fr);
            #label_estado{
                margin-bottom: 18px;
                grid-column: 1/6;
            }
            div{
                margin: 18px 0;
                font-size: 13px;
            }
            #div_radio_activo{
                grid-column: 1/3;
            }
            #div_radio_suspendido{
                grid-column: 3/6;
            }
            #div_radio_de_baja{
                grid-column: 6/8;
            }
        }
        #div_foto{
            margin: 18px 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            #label_foto{
                margin: 18px 0;
                grid-column: 1/3;
            }
            #tamaño_input_foto{
                grid-column: 3/4;
                width:133px;
                margin: auto 0;
            }
            #logo_de_galeria{
                grid-column: 4/5;
                height: 20px; 
                width: 20px;
                margin:auto 5px;
            }
        }
        #div_descripcion{
            margin: 18px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            #label_descripcion{
                grid-column: 1/3;
                margin: 0 0 17px 0;
            }
            #tamaño_descripcion{
                margin: 18px 0;
                grid-column: 1/3;
                height: 80px;
                resize: none;
            }
        }
        #div_botones{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin: 18px 0;
           button{
               height: 50px;
               margin: auto;
            }
            #boton_limpiar{
                grid-column: 1/2;
                figure{
                    margin: 0;
                    display: inline-flex;
                    #imagen_boton_limpiar{
                        height: 25px;
                        width: 25px;
                    }
                    figcaption{
                        margin: auto 8px;
                    }
                }
            }
            #boton_guardar{
                grid-column: 2/3;
                figure{
                    margin: 0;
                    display: inline-flex;
                    #imagen_boton_guardar{
                        height: 25px;
                        width: 25px;
                    }
                    figcaption{
                        margin: auto 8px;
                    }
                }
            }
        }    
    }
}