footer{
    grid-area: footer;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    font-size: 15px;
    a{
        color:black;
        text-decoration: none;
        grid-column: 1/4;
        padding: auto ;
        padding: 10px 0;
        border-top: 1px solid black;
    }  
}