footer{
    @include estilos_footer;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 15px;
    a{
        color:$color-footer;
        text-decoration: none;
        padding: 10px 0;
        border-top: 1px solid black;
    }  
}