header{
    grid-area: header;
    background-color: blue;
    color: white;
    #titulo_header{
        text-align: center;
        font-size: 1.3em;
        padding: 10px;
    }
    figure{
        display: none;
    }
}