header{
    grid-area: header;
    background-color: $background-header;
    color: $color-header;
    #titulo_header{
        text-align: center;
        font-size: 1.3em;
        padding: 10px;
    }
    figure{
        display: none;
    }
}