main{
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: gainsboro;
    .bars {
        background: transparent;
        text-decoration: none;
        display: block;
        color: black;
        font-size: 1.5em;
        padding: 0.2em 0.5em;
    }  
    ul {
        list-style: none;
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: gray;
        margin: 0;
        padding-left:  0;
        font-size: 13px;

        #li_user{
            background-color: black;
            figure{
                margin: 13px 29px;
                #imagen_user{
                    height: 40px;
                    width: 40px;
                    clip-path: circle(50% at 50% 50%);
                }
                figcaption{
                    a{
                        color: #fff;
                    }
                }
            }
        }
        li {
            text-align: center;
            border-right: 0;
            padding: 3px 0;
            figure{
                display: flex;
                flex-direction: row;
                img{
                    height: 20px;
                    width: 20px;
                }
                figcaption{
                    margin: auto auto auto 40px ;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                .icono_siguiente{
                    height: 20px;
                    margin: auto 0;
                    width: 20px;
                }
            }
        }
    }
}