main{
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: gainsboro;
    ul{
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        font-size: 13px;
        #primer_li{
            padding: 10px 12px;
            position: relative;
            #imagen_burger{
                height: 25px;
                width: 25px;
                padding-top: 7px;
            }
            .submenu{
                position: absolute;
                background-color:#F5EB7E;
                display: none;
                top: -1px;
                left: 27vw;
                width: 73%;
                #ul_submenu{
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    padding: 0;
                    width: 100%;
                    .li_submenu{
                        margin: 18px 0;
                        width: 100%;
                        text-align: center;
                        figure{
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            margin: 0 0 0 30px;
                            .logos_menu{
                                height: 20px;
                                width: 20px;
                                grid-column: 1/2;
                            }
                            figcaption{
                                text-align: start;
                                grid-column: 2/5;
                                a{
                                    color: black;
                                    text-decoration: none;
                                }
                            }
                            .imagen_next{
                                grid-column: 5/6;
                                height: 20px;
                                margin: auto 0;
                                width: 20px;
                            }
                        }
                    }
                    #li_submenu_user{
                        margin: 0;
                        background-color:black;
                        height: 58px;
                        figure{
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            margin: 13px 0 13px 25px;
                            img{
                                height: 30px;
                                width: 30px;
                                grid-column: 1/2;
                                clip-path: circle(50% at 50% 50%);
                            }
                            figcaption{
                                margin: auto 12px;
                                grid-column: 2/6;
                                a{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        #primer_li:hover{
            .submenu{
                display:flex;
            }
        }
        .li_menu{
            display: none;
        }
    }
    
}