$background-header: blue;
$color-header: #fff;
$background-nav:#9BAFEB;
$color-nav:#fff;
$background-main: gainsboro;
$color-main: black;
$background-aside:lightblue;
$color-aside:black;
$background-footer:cornflowerblue;
$color-footer:black;

@import 'header';
@import 'nav';
@import 'main';
@import 'aside';
@import 'footer';

body{
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header"
                        "main"
                        "aside"
                        "footer";
    height: 100%;
    min-height: 100vh;

}
@media screen and (min-width:1200px) {
    body{
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 9% 9% 81% 6%;
        grid-template-areas: "header header header header header header"
                            "main main main nav nav nav"
                            "aside aside aside aside aside aside"
                            "footer footer footer footer footer footer";
    }
    header{
        grid-area: header;
        font-size: 2em;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        #titulo_header{
            grid-column: 2/8;
            text-align: center;
            padding: 22px;
            margin: 0;
            animation-name: titulo-header;
            animation-duration: 7s;
        }
        @keyframes titulo-header{
            from{font-size:0.5em;
            }
            to{font-size:1.3em;

            }
        }
        figure{
            grid-column: 8/9;
            font-size: 16px;
            display: inline-flex;
            margin: initial;
            img{
                height: 50px;
                width: 50px;
                margin: auto 0;
                opacity: 60%;
                clip-path: circle(50% at 50% 50%);
            }
            figcaption{
                margin: auto 20px;
            }
        }
    }
    nav{
        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        #label_buscar{
            color: white;
            font-size: 18px;
            grid-column: 1/3;
            margin: auto ;
        }
        #input_buscar{
            width: 100%;
            margin: auto 0;
            grid-column: 3/6;
            border-radius: 20px;
        }
        #input_buscar:hover{
            border: 2px solid yellow;
        }
        #boton_buscar{
            grid-column: 6/7;
            display: grid;
            margin: auto;
            border-radius: 10px;
            border: 1px solid black;
            background-color: white;
            transition-property: background-color;
            transition-duration: 0.5s;
            #logo_buscador{
                height: 40px;
                width: 40px;
                padding-top: 5px;
                margin: auto;  
            }
        }
        #boton_buscar:hover{
            background-color: gainsboro;
            color: #2577F1;
            font-weight: bold;
            font-size: 15px;
        }
        #boton_buscar:active{
            background-color: #F4B362 ;
            color: rgb(52, 23, 180);
        }
    }
    main{
        grid-area: main; 
        ul{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            height: 100%;
            #primer_li{
                display: none;
            }
            #li_inicio{
                grid-column: 1/2;
            }
            #li_usuarios{
                grid-column: 2/3;
            }
            #li_clientes{
                grid-column: 3/4;
            }
            #li_proveedores{
                grid-column: 4/5;
            }
            #li_productos{
                grid-column: 5/6;
                border: none;
            }
            .li_menu{
                display: initial;
                border-right: 1px solid black;
                figure{
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    img{
                        height: 30px;
                        width: 30px;
                        margin: 15px auto;
                    }
                    figcaption{
                        margin: 3px auto;
                        a{
                            font-size: 15px;
                            text-decoration: none;
                            color: black;
                        }
                        a:visited{
                            color: brown;
                        }
                        a:hover{
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }
                    .icono_siguiente{
                        display: none;
                    }
                }
            }
        }
    }
    aside{
        grid-area: aside;
        justify-items: normal;
        border-top: none;
        font-size: 15px;
        #container_fieldset{
            border: 2px solid black;
            margin: 10px 18%;
            fieldset{
                border: 1px solid black;
                margin: 6px 5% 21px 5%;
                padding-bottom: 0;
                legend{
                    text-align: start;
                    font-size: 1;
                }
                .formulario{
                    display: grid;
                    grid-template-columns: repeat(6,1fr);
                    label{
                        grid-column: 1/3;
                        width: 80%;
                        margin: 2px 0;
                    }
                    input{
                        width: 250px;
                        grid-column: 3/7;
                        margin: auto 0;
                        border-radius: 10px;
                        border: 1px solid black;
                        padding-left: 10px;
                        transition-property: background-color;
                        transition-duration: 0.4s;
                        
                    }
                    input:hover{
                        border: 2px solid red;
                    }
                    input:focus{
                        background-color: #EEF2AB;
                    }           
                    #input_codigo{
                        grid-column: 3/5;
                        width: 100%;
                    }
                    #boton_validacion{
                        margin: auto 43px;
                        grid-column: 5/7;
                        border-radius: 30px;
                        background-color: #C30D32;
                        color: white;
                        width: 40%;
                        transition-property: background-color;
                        transition-duration: 0.7s;
                    }
                    #boton_validacion:hover{
                        font-weight: bold;
                        background-color: black;
                        color: #27D36C;
                        border: 2px solid #27D36C;
                    }
                    #boton_validacion:active{
                        color: yellow;
                        border: 3px solid yellow;
                        
                    }
                    #input_nombre{
                        width: 100%;
                        grid-column:3/5 ;
                    }
                    #input_abreviatura{
                        grid-column: 3/5;
                        width: 50%;
                    }
                    #input_categorias{
                        grid-column: 3/5;
                        width: 65%;
                    }
                    #input_RUC{
                        grid-column: 3/5;
                        width: 65%;
                    }
                    #input_precio{
                        grid-column: 3/5;
                        width: 50%;
                    }
                    #input_color{
                        width: 5%;
                        padding-left: 3px;
                    }
                }
                #div_fecha{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    #label_fecha{
                        grid-column: 1/3;
                    }
                    #input_fecha{
                        grid-column: 3/5;
                        margin: auto 0;
                        border-radius: 30px;
                        border: 1px solid black;
                        padding-left: 5px ;
                        transition-property: background-color;
                        transition-duration: 0.4s;
                    }
                    #input_fecha:hover{
                        border: 2px solid red;
                    }
                    #input_fecha:focus{
                        background-color: #EEF2AB;
                    }  
                    #logo_fecha{
                        grid-column: 5/6;
                        height: 30px;
                        width: 30px;
                    }
                }
                #div_estado{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    #label_estado{
                        grid-column: 1/3;
                        margin: auto 0;
                    }
                    #div_radio_activo{
                        grid-column: 3/4;
                    }
                    #div_radio_suspendido{
                        grid-column: 4/5;
                    }
                    #div_radio_de_baja{
                        grid-column: 5/7;
                    }
                }
                #div_impuesto{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    #label_impuesto{
                        grid-column: 1/3;
                    }
                    #checkbox_impuesto{
                        grid-column: 3/7;
                        width: 20px;
                        margin: auto 0;
                    }
                }
                #div_foto{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    #label_foto{
                        grid-column: 1/3;
                    }
                    #tama単o_input_foto{
                        grid-column: 3/5;
                    }
                    #logo_de_galeria{
                        grid-column: 5/7;
                        height: 30px;
                        width: 30px;
                    }
                }
                #div_descripcion{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    #label_descripcion{
                        grid-column: 1/3;
                        margin: auto 0;
                    }
                    #tama単o_descripcion{
                        grid-column: 3/7;
                        margin: auto 0;
                        border: 1px solid black;
                        border-radius: 10px;
                        transition-property: background-color;
                        transition-duration: 0.4s;
                    }
                    #tama単o_descripcion:hover{
                        border: 2px solid red;
                    }
                    #tama単o_descripcion:focus{
                        background-color: #EEF2AB;
                    }  
                }
                #div_botones{
                    grid-template-areas: "guardar limpiar";
                    justify-items:start;
                    margin: 28px 0;
                    button{
                        background-color: #121DA4;
                        color: white;
                        border-radius: 10px;
                        transition-property: background-color;
                        transition-duration: 0.7s;
                    }
                    button:hover{
                        font-size: 15px;
                        border:3px solid red;
                        font-weight: bold;
                        color: red;
                        background-color: black;
                    }
                    button:active{
                        background-color:white;
                        color:#2577F1;
                        border: 5px solid #2577F1;
                    }
                    #boton_limpiar{
                        grid-area: limpiar;
                        margin: 0 0 0 73px;
                        height: 30px;

                        figure{
                            margin: 0;
                            img{
                                height: 20px;
                                width: 20px;
                                display: none;
                            }
                        }
                    }
                    #boton_guardar{
                        grid-area: guardar;
                        margin:0 0 0 225px;
                        height: 30px;
                        figure{
                            margin: 0;
                            img{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        grid-area:footer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        a:link{
            margin: auto 0;
            border: none;
            color:black;
            font-size: 20px;
        }    
        a:visited{
            color: #4B39F5;
        }
        a:hover{
            font-weight: bold ;
            font-size: 22px;
        }
        #que_hacemos{
            grid-column: 1/2;
        }
        #enlaces_principales{
            grid-column: 2/3;
        }
        #contactanos{
            grid-column: 3/4;
        }
    }
}
